{% highlight html %}
<div class="pwc-footer">
    <div class="container">
        <div class="pwc-footer-nav">
            <ul class="pwc-footer-nav-item">
                <li><h1>Lorem</h1></li>
                <li><a href="#">Ipsum dolor</a></li>
                <li><a href="#">Sit amet</a></li>
                <li><a href="#">Consectetur adipiscing</a></li>
            </ul>
            <ul class="pwc-footer-nav-item">
                <li><h1>Elit</h1></li>
                <li><a href="#">Duis</a></li>
                <li><a href="#">Fermentum velit</a></li>
                <li><a href="#">Eu nisi blandit</a></li>
            </ul>
            <ul class="pwc-footer-nav-item">
                <li><h1>Volutpat</h1></li>
                <li><a href="#">Sed eu sodales ex</a></li>
                <li><a href="#">Bibendum </a></li>
                <li><a href="#">Gravida sapien</a></li>
            </ul>
            <ul class="pwc-footer-nav-item">
                <li><h1>Nunc posuere urna</h1></li>
                <li><a href="#">Urna</a></li>
                <li><a href="#">Sit amet aliquam</a></li>
                <li><a href="#">Mi lobortis </a></li>
            </ul>
            <ul class="pwc-footer-nav-item">
                <li><h1>Eu</h1></li>
                <li><a href="#">Cum sociis</a></li>
                <li><a href="#">Natoque </a></li>
                <li><a href="#">Penatibus et magnis</a></li>
            </ul>
        </div>
        <hr />
        <div class="pwc-footer-info">
            <div class="pwc-footer-copyright">
                <p>Copyright &#169;	Prince William County Government - All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}