{% highlight html %}
<button type="button" class="btn pwc-btn-secondary-blue">Secondary Blue</button>
<button type="button" class="btn pwc-btn-secondary-gold">Secondary Gold</button>
<button type="button" class="btn pwc-btn-secondary-green">Secondary Green</button>
<button type="button" class="btn pwc-btn-secondary-red">Secondary Red</button>
<button type="button" class="btn pwc-btn-secondary-skyblue">Secondary Skyblue</button>
<button type="button" class="btn pwc-btn-secondary-cream">Secondary Cream</button>
{% endhighlight %}