{% highlight html %}
<div class="pwc-accordion">
    <div class="panel panel-default pwc-accordion-item">
        <div class="panel-heading pwc-accordion-heading">
            <a data-toggle="collapse" data-target="#dummy-accordion-body4" aria-expanded="true">Something important<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
        </div>
        <div class="panel-collapse collapse pwc-accordion-body" id="dummy-accordion-body4">
            <div class="pwc-accordion-list-wrapper">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default pwc-accordion-item">
        <div class="panel-heading pwc-accordion-heading">
            <a data-toggle="collapse" data-target="#dummy-accordion-body5" aria-expanded="true">Another thing that's important<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
        </div>
        <div class="panel-collapse collapse pwc-accordion-body" id="dummy-accordion-body5">
            <div class="pwc-accordion-list-wrapper">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default pwc-accordion-item">
        <div class="panel-heading pwc-accordion-heading">
            <a data-toggle="collapse" data-target="#dummy-accordion-body6" aria-expanded="true">One more thing<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
        </div>
        <div class="panel-collapse collapse pwc-accordion-body" id="dummy-accordion-body6">
            <div class="pwc-accordion-list-wrapper">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                    <li class="list-group-item">Four</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}