---
layout: post
title: "Visual Identity"
description: "Colors, typography and templates are all pieces that come together, with other components, to create a visual identity."
---
<div class="docs-subsection"><!-- Typography -->
    <h2 id="visual-identity-typography">Typography</h2>
    <p>
        Using a standard set of typefaces helps employ a consistent county identity. Prince William County's primary fonts are Open Sans and Perpetua. The secondary fonts are Franklin Gothic and Times New Roman.
    </p>
    <h3>Typefaces</h3>
    <h4>Primary Typefaces</h4>
    <p>
        <span class="typeface-example-light">Open Sans</span>
        <span class="typeface-example-dark">Open Sans</span><br />
        Open Sans is a Sans Serif typeface supported by PC and Mac. It is a modern, clean font that is optimized for print, web and mobile interfaces. Open Sans should be used for headlines, subheads and can be used for copy. Open Sans will be the preferred font used on the web.
    </p>
    <div class="style-code">
        <p>
            To use Open Sans on a webpage, include the following line in your html file.
        </p>
        {% include code_snippets/visual-identity/typefaces-open-sans-how.html %}
        <p>
            Then, in your stylesheet, you can write the following.
        </p>
        {% include code_snippets/visual-identity/typefaces-open-sans-use.html %}
    </div>
    <p>
        <span class="typeface-example-light" style="font-family:Perpetua, serif;">Perpetua</span>
        <span class="typeface-example-dark" style="font-family:Perpetua, serif;">Perpetua</span><br />
        Perpetua is a Serif typeface supported mostly by PC, but available for Mac. This typeface is used primarily for extended running body copy in longer, multiple-page documents, such as brochures, datasheets and letters.
    </p>
    <h4>Secondary Typefaces</h4>
    <p>
        <span class="typeface-example-light" style="font-family: 'Franklin Gothic';">Franklin Gothic</span>
        <span class="typeface-example-dark" style="font-family: 'Franklin Gothic';">Franklin Gothic</span><br />
        Franklin Gothic had developed into a sans serif family with a large number of weights. Its strong and powerful typeface has a warm feeling due to the roman shape of the letters, as for instance the double-storey g and a, the tapering of strokes near junctions, the tail of the capital Q shifting to the right in heavier weights, and an extra bold weight and a combination of subtle irregularities.
    </p>
    <p>
        <span class="typeface-example-light" style="font-family: 'Times New Roman';">Times New Roman</span>
        <span class="typeface-example-dark" style="font-family: 'Times New Roman';">Times New Roman</span><br />
        Times New Roman is a serif typeface that is very famous in the world of typography. This Font was made by Victor Lardent. Times New Roman was first used in the British newspaper The Times in 1931. Times New Roman is very popular in the world, even the Times New Roman font is often used as an official font in many countries around the world.

    </p>
</div><!-- Typography end -->
<div class="docs-subsection"><!-- Colors -->
    <h2 id="visual-identity-colors">Colors</h2>
    <p>
        Colors enhance our visual world. The colors we use become part of the visual identity. Therefore, it is essential to maintain a consistent and intentional color palette for Prince William County government.
    </p>
    <h3>Palette</h3>
    <!-- Primary Colors -->
    <div>
        <h4>Primary Colors</h4>
        <table class="table palette-table">
            <tr class="palette-bg">
                <td style="background-color: #2D6CB5;">PWC Blue</td>
                <td style="background-color: #000000;">Black</td>
                <td style="background-color: #B5E3F0;">PWC Skyblue</td>
                <td style="background-color: #FFEBC6;">PWC Cream</td>
            </tr>
            <tr>
                <td>#2D6CB5</td>
                <td>#000000</td>
                <td>#B5E3F0</td>
                <td>#FFEBC6</td>
            </tr>
            <tr class="palette-bg">
                <td style="background-color: #D7B161;">PWC Gold</td>
                <td style="background-color: #34A34C;">PWC Green</td>
                <td style="background-color: #840715;">PWC Red</td>
                <td style="background-color: #FFFFFF;">White</td>
            </tr>
            <tr>
                <td>#D7B161</td>
                <td>#34A34C</td>
                <td>#840715</td>
                <td>#FFFFFF</td>
            </tr>
        </table>
    </div><!-- Primary Colors end -->
    <!-- Secondary Colors -->
    <div>
        <h4>Secondary Colors</h4>
        <table class="table palette-table">
            <tr class="palette-bg">
                <td style="background-color: slategrey;">Color</td>
                <td style="background-color: skyblue;">Color</td>
                <td style="background-color: slategrey;">Color</td>
                <td style="background-color: skyblue;">Color</td>
            </tr>
            <tr>
                <td>#000000</td>
                <td>#000000</td>
                <td>#000000</td>
                <td>#000000</td>
            </tr>
            <tr class="palette-bg">
                <td style="background-color: slategrey;">Color</td>
                <td style="background-color: skyblue;">Color</td>
                <td style="background-color: slategrey;">Color</td>
                <td style="background-color: skyblue;">Color</td>
            </tr>
            <tr>
                <td>#000000</td>
                <td>#000000</td>
                <td>#000000</td>
                <td>#000000</td>
            </tr>
        </table>
    </div><!-- Secondary Colors end -->
</div><!-- Colors end -->
<!-- Images -->
<div class="docs-subsection">
    <h2 id="visual-identity-county-seal">County Seal</h2>
    <p>
        Prince William County’s seal is the most prominent representation of our government, our officials and our employees. The seal must keep to a consistent form whenever used, as it is an official asset and crucial communication tool.
    </p>
    <h3>Color Seal</h3>
    <img src="resources/logos/color-seal-95-web.png" alt="County Color Seal" />
    <p>
        The Color Seal is the most prominent visual tool the County utilizes when communicating to the public and our partners; and since it is the most important communication instrument, make sure it is the first choice when producing new work. Use the approved seal to provide the highest quality conditions. Contact the Communications Office if you have questions on which seal to use.
    </p>
    <div class="style-code">
        <p>
            To use Color County Seals on a webpage, download the components and copy the <code>/images</code> folder into your project directory. Then, include the following line in your html file.
        </p>
        {% include code_snippets/visual-identity/county-seal-color.html %}
        <p>
            Adjust the width and height according to your desire.
        </p>
    </div>
    <h3>One-Color Seal</h3>
    <img src="resources/logos/onecolor-seal-95-web-black.png" alt="County One Color Seal" />
    <p>
        The One-Color Seal serves three main purposes:
        <ol>
            <li>One or two-color productions (fliers, brochures, giveaways, shirts, etc.)</li>
            <li>Official correspondence and business (letterhead, statements, tax bills, etc.)</li>
            <li>As an approved alternative to the Color Seal </li>
        </ol>
        Always try to place the seal on a consistent background to avoid other design elements from affecting the seal’s integrity.
    </p>
    <div class="style-code">
        <p>
            To use One Color County Seals on a webpage, download the components and copy the <code>/images</code> folder into your project directory. Then, include the following line in your html file.
        </p>
        {% include code_snippets/visual-identity/county-seal-onecolor.html %}
        <p>
            Adjust the width and height according to your desire.
        </p>
    </div>
</div><!-- Images end -->