{% highlight html %}
<div class="pwc-offcanvas-nav-wrapper pwc-offcanvas-right">
    <nav class="navbar pwc-navbar-big">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#side-menu-big">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span><img class="pwc-logo-image pull-left" src="images/color-seal-95-web.png" alt="Prince William County Government" height="95" /></span>
                    <div class="pwc-logo-text pull-left">Prince William County <br />Application Name</div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAQs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="#">This question</a></li>
                            <li><a href="#">That question</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Ask a question</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="pwc-navbar-menu-offcanvas" id="side-menu-big">
        <ul class="nav nav-stacked navbar-fixed-top">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAQs<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">This question</a></li>
                    <li><a href="#">That question</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Ask a question</a></li>
                </ul>
            </li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</div>
<div class="pwc-offcanvas-content-wrapper pwc-offcanvas-content-wrapper-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
{% endhighlight %}